body {
    margin: 0;
}

header {
    position: relative;
}

input[type=checkbox] {
    display: none;
}

.headImage img {
    width: 100%;
}

.headImagelarge {
    display: none;
}

nav {
    padding: 2em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
}

.menu {
    padding: 0;
    color: grey;
}

.menu, .menu ul {
    list-style-type: none;
}

.menu li {
    margin: 1em 0;
}

.button, .menuItem, .login span {
    transition: all 200ms ease 50ms;
}


#background {
    background-color: rgba(0, 0, 0, 0.644);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}
#navList {
    padding: 1em;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width:50%;
}

#close {
    position: relative;
}

#close img {
    margin: 1em 0;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login span {
    text-align: center;
    color: grey;
}

#register {
    border: 1px solid grey;
    margin-top: 1em;
}

#navist, .featuresMenu, .companyMenu, .up {
    display: none;
}

#openMenu:checked ~ #background {
    display: block;
}

#featuresMenu:checked ~ .featuresMenu {
    display: block;
}

#companyMenu:checked ~ .companyMenu {
    display: block;
}

.featuresMenu, .companyMenu {
    padding-left: 1em;
}

.content {
    text-align: center;
    margin: 1em;
    margin: 5em 0;
}

.heading {
    font-size: 32px;
    font-weight: bold;
}

.button {
    padding: 1em;
    border-radius: 1em;
    background: none;
}

#learn:hover, #register:hover {
    border: 1px solid black;
    color: black;
    background: white;
}

#learn {
    background-color: black;
    color: white;
    font-weight: bold;
    display: inline-block;
}

#learn, .clients {
    margin-top: 2em;
}

.clients {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.clients div {
    margin: 0 1em;
}

.clients img{
    width: 100%;
}
