@media (min-width: 1200px) {

   p {
       font-size: 24px;
   }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5em 10em;
    }


    nav {
        justify-content: flex-start;
        padding: 1em 2em;
    }

    #hamburger, #close {
        display: none;
    }

    #background {
        display: block;
        position: unset;
        height: unset;
        background: unset;
    }

    #navList {
        display: block;
        position: unset;
        display: flex;
        justify-content: space-between;
        height: auto;
        width: -webkit-fill-available;
        margin-left: 3em;
        padding: 0;
    }

    .menuItem, #navList li, .login span, .button {
        cursor: pointer;
    }

    .menu, .login {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu li {
        margin: 0;
        margin: 1em 2em;
        position: relative;
    }

    .menuItem:hover, .login span:hover, #register:hover {
        color: black;
        font-weight: bold;
    }

    .menuItem img {
        margin-left: 1em;
    }

    .companyMenu, .featuresMenu {
        position: absolute;
        right: 0;
        top: 3em;
        padding: 0;
        border-radius: 1em;
        box-shadow: rgba(0, 0, 0, 0.192) 0px 10px 30px;
        width: max-content;
    }

    .featuresMenu img {
        margin-right: 1em;
    }

    .companyMenu {
        left: 0;
    }

    #register {
        margin: 0;
        margin-left: 2em;
    }

    .headImage {
        display: none;
    }

    .headImagelarge {
        margin-left: 5em;
        display: unset;
    }

    .headImagelarge img {
        width: 100%;
    }


    #contentText {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 100vh;
        text-align: left;
    }

    .heading {
        font-size: 100px;
        font-weight: bold;
    }

    #learn {
        padding: 1em 2em;
    }

    .clients {
        margin-top: 3em;
    }
}